<form action={{formAction}} method="POST">
<div>
<label for="title">TITLE:</label>
    <input type="text" name="title" id="tile" value="{{task.title}}"></input>
</div>
<div>
<label for="description">DESCRIPTION:</label>
    <textarea type="text" name="description" id="tile">{{task.description}}</textarea>
</div>
<div><input type="submit" value={{btnText}}></div>

</form>