<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h1>Add Task</h1>
    <form action={{formAction}} method="POST">
        <div>
            <label for="title"><h5>TITLE:</h5></label>
            <input type="text" name="title" id="tile" value="{{task.title}}" class="form-control rounded-0 bg-dark text-white"></input>
        </div>
        <div>
            <label for="description"><h5>DESCRIPTION:</h5></label>
            <textarea type="text" name="description" id="description" class="form-control rounded-0 bg-dark text-white">{{task.description}}</textarea>
        </div>
        <div>
            <input type="submit" value={{btnText}} class="btn btn-primary btn-sm m-2">
        </div>
    </form>
</div>
